/*.form_wraper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1em;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(130deg, #4d5163, #be9a6a 41.07%, #9bcfd1 86.05%);
  /* background-image: url('/img/bg.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

li {
  list-style-type: none;
}
/* Flex styles
.form_wraper {
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  align-items: flex-start;
}
.list > ul > li {
  display: flex;
}
*/
span,
.check {
}

/*Grid styles*/
.form_wraper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 0.5em;
  justify-content: center;
}

.form {
}

.list {
  margin-top: 10px;
  padding: 10px;
  border-radius: 0;
  border-left: 1px solid rgba(255, 255, 2555, 0.2);
  border-top: 1px solid rgba(255, 255, 2555, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}
.ullist > ul > li {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
  grid-gap: 0.5em;
  justify-content: center;
}
.ullist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.delwrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 0.5em;
}

.gridinp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  justify-content: center;
}

.inpval {
  font-size: 10px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #cbd1d1;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.inpval:focus {
  outline: none;
}
.inpval:hover {
  cursor: pointer;
}
/* width: 20%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #e9eff6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
} */

.outputstyle {
  text-align: center;
  font: optional;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.check {
  display: grid;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/*checkbox style*/

input[type='checkbox'] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type='checkbox']::before {
  position: absolute;
  content: '';
  display: block;
  top: -6px;
  left: 9px;
  width: 5px;
  height: 20px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
input[type='checkbox']:checked {
  color: #fff;
  border-color: #399a9d;
  background: #399a9d;
}
input[type='checkbox']:checked::before {
  opacity: 1;
}
input[type='checkbox']:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
label {
  position: relative;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  padding: 0 0.25em 0;
  user-select: none;
}
label::before {
  position: absolute;
  content: attr(data-content);
  color: #9c9e9f;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #363839;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*input style*/
.form__group {
  position: relative;

  width: 100%;
}

.form__field {
  font-family: sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: 0;
  font-size: 1rem;
  color: #fff;
  height: 100%;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #dadada;
}
.form__field:hover ~ .form__label {
  color: #19ccbd;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
